# Kobweb ignores
.kobweb/*
!.kobweb/conf.yaml
!.kobweb/site
build
build/
/build
src/jsMain/kotlin/org/akilincarslan/ahrarwood/firebase
src/jsMain/kotlin/org/akilincarslan/ahrarwood/constants
src/jsMain/resources/public