@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open_sans/opensans_regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open_sans/opensans_light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open_sans/opensans_bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
font-family: 'Play Write';
src: url('/fonts/play_write/playwritevn_regular.ttf');
font-weight: 400;
font-style: normal;
}